body {
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fb656b8f-f4cc-406f-9cad-db0c413db8a0/dkwa03d-3385bcfa-c563-459d-95d0-e975f34f529e.jpg/v1/fill/w_1182,h_676,q_70,strp/pixel_art_background_by_millyasruyat_dkwa03d-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzMyIiwicGF0aCI6Ii9mL2ZiNjU2YjhmLWY0Y2MtNDA2Zi05Y2FkLWRiMGM0MTNkYjhhMC9ka3dhMDNkLTMzODViY2ZhLWM1NjMtNDU5ZC05NWQwLWU5NzVmMzRmNTI5ZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NWv_IGe2P1qiYLyapp6zI_Wjnhi4ZKsBYsyNGu8_1PE);
    background-repeat:repeat;
    background-size:cover;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}


.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.sun {
    width: 350px;
    height: 350px;
    background-image:url(https://cdn.fbsbx.com/v/t59.2708-21/589488488_1489917325456722_1709172572279244931_n.gif?_nc_cat=104&ccb=1-7&_nc_sid=cf94fc&_nc_eui2=AeEfTga1EoYwZQG7Qq0uiRXO9F6R2q7BTmH0XpHarsFOYSpJ-hVyPu4tLHuNEbq1S0MZz818Kb2v9Cd7CjDSjKRk&_nc_ohc=AXRMrFm9ZXQQ7kNvwErFkw7&_nc_oc=AdkJ87h_JWuhQYOaMsuCbYhg0H1E6e8Gonauc0YMj_MjbWYzMPT1ewypiltBxJvdg_8&_nc_zt=7&_nc_ht=cdn.fbsbx.com&_nc_gid=T65WDF3kA7PlYwYBP6VXLg&oh=03_Q7cD3wGCl04Nzoc_Drc9iS67mppvSmD-v1Gi5S2p2UxtcNynzA&oe=692A0655);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 100%;
    
}

.sundragon{
    width: 320px;
    height: 320px;
    background-image:url(imagess/b39f2746085109-unscreen.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top: 90px;                  
    right:-165px;  
}
.fire{
    width: 100px;
    height: 100px;
    background-image:url(https://media.tenor.com/sRL5jAfDjMcAAAAj/flame-lit.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
}

.planet {
    width: 125px;
    height: 125px;
    background-image:url(imagess/gren.png);
    background-size: contain;
    border-radius: 100%;
    position:absolute;
    animation: planetorbit 7s infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; 
}



@keyframes planetorbit {
from { 
    transform: rotate(0) translate(200px) rotate(0); 

    }
    to{ transform: rotate(360deg) translate(200px) rotate(-360deg); 
}
}




.moon {
    width: 125px;
    height: 125px;
    background-image:url(imagess/ringlet-hada-rotacion5-unscreen.gif);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moonorbit 2s infinite;
    animation-timing-function: linear;
     transform-style: preserve-3d; 
}


@keyframes moonorbit {
 from {
       transform: rotateY(0) translate(50px) rotateY(0);
    }
    to{
      transform: rotateY(360deg) translate(50px) rotateY(-360deg);
}
}

.flowers{
    width: 100px;
    height: 100px;
    background-image:url(imagess/flowers.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    bottom:5px;
}
.planet2 {
    width: 135px;
    height: 135px;
    background-image:url(imagess/bluereng.png);
    background-size: contain;
    border-radius: 100%;
    position:absolute;
    animation: planet2orbit 9s infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; 
}


@keyframes planet2orbit {
    from{
        transform: rotate(0) translate(280px) rotate(0);
    }
    to{
        transform: rotate(360deg) translate(280px) rotate(-360deg);
    }
}

.moon2 {
    width: 45px;
    height: 45px;
    background-image:url(imagess/boblegumpenk.png);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moon2orbit 3s infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d; 
}


@keyframes moon2orbit {
    from {
       transform: rotateY(0) translate(60px) rotateY(0);
    }

    to{
      transform: rotateY(360deg) translate(60px) rotateY(-360deg);
    }
}
.sprite{
    width: 150px;
    height: 150px;
    background-image:url(imagess/dcdec6b1a20e11365adace8afe7d15-unscreen.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    bottom:5px;
}

.planet3 {
    width: 150px;
    height: 150px;
    background-image:url(imagess/penk.png);
    background-size: contain;
    border-radius: 100%;
    position:absolute;
    animation: planet3orbit 11s infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; 
}


@keyframes planet3orbit {
    from{
        transform: rotate(0) translate(360px) rotate(0);
    }
    to{
        transform: rotate(360deg) translate(360px) rotate(-360deg);
    }
}
.wing{
    width: 80px;
    height: 80px;
    background-image:url(https://i.pinimg.com/originals/e8/25/c5/e825c51a3240ae47171cbfbdd6d59144.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top:30px;
    right:15px;
}
.ufo{
    width: 100px;
    height: 100px;
    background-image:url(https://66.media.tumblr.com/tumblr_maiubbMXhC1rfjowdo1_r1_1280.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top:-40px;
    right:5px;
}

.moon3 {
    width: 45px;
    height: 45px;
    background-image:url(imagess/ice.png);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moon3orbit 3s infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d; 
}


@keyframes moon3orbit {
    from {
       transform: rotateY(0) translate(60px) rotateY(0);
    }
    
    to{
      transform: rotateY(360deg) translate(60px) rotateY(-360deg);
}
}

.moon3a {
    width: 40px;
    height: 40px;
    background-image:url(imagess/coin.png);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moon3aorbit 3s infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d; 
}


@keyframes moon3aorbit {
    from {
       transform: rotateY(0) translate(100px) rotateY(0);
    }
    
    to{
      transform: rotateY(360deg) translate(100px) rotateY(-360deg);
}
}

.planet4 {
    width: 155px;
    height: 155px;
    background-image:url(imagess/purpol.png);
    background-size: contain;
    border-radius: 100%;
    position:absolute;
    animation: planet4orbit 13s infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; 
}


@keyframes planet4orbit {
    from{
        transform: rotate(0) translate(440px) rotate(0);
    }
    to{
        transform: rotate(360deg) translate(440px) rotate(-360deg);
    }
}
.moon4 {
    width: 65px;
    height: 65px;
    background-image:url(https://cdn.modrinth.com/data/6CcHxIB6/da368170de24189c4bf257022ee6e62c5185ac92.png);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moon4orbit 3s infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d; 
}


@keyframes moon4orbit {
  from {
       transform: rotateY(0) translate(100px) rotateY(0);
    }
    
    to{
      transform: rotateY(360deg) translate(100px) rotateY(-360deg);
}
}
.astronaut {
    width: 40px;
    height: 40px;
    background-image:url(imagess/astronaut.png);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moon4orbit 2.3s infinite;
    animation-timing-function: linear;
    top:-10px;
    transform-style: preserve-3d; 
}


@keyframes moon4orbit {
  from {
       transform: rotateY(0) translate(100px) rotateY(0);
    }
    
    to{
      transform: rotateY(360deg) translate(100px) rotateY(-360deg);
}
}



.planet5 {

    width: 150px;
    height: 150px;
    background-image: url(imagess/grenyellow.png);
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    animation: planet5orbit 15s linear infinite;
    transform-style: preserve-3d; 
}



@keyframes planet5orbit {
      from{
        transform: rotate(0) translate(500px) rotate(0);
    }
    to{
        transform: rotate(360deg) translate(500px) rotate(-360deg);
    }
}

.earthdragon{
    width: 100px;
    height: 100px;
    background-image:url(imagess/earthdragon.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top: 40px;                  
}
.grass{
    width: 120px;
    height: 120px;
    background-image:url(imagess/deq5fyw-999c89aa-5229-47f0-88b-unscreen.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top: -20px;
    right: 20px;                  
}
.planet6 {

    width: 195px;
    height: 195px;
    background-image: url(imagess/blu.png);
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    animation: planet6orbit 17s linear infinite;
    transform-style: preserve-3d; 
}


@keyframes planet6orbit {
    from{
        transform: rotate(0) translate(560px) rotate(0);
    }
    to{
        transform: rotate(360deg) translate(560px) rotate(-360deg);
    }
}

.rain{
    width: 90px;
    height: 90px;
    background-image:url(imagess/8ef5f20196552d5-unscreen.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 45px;                  
}

.planet7 {

    width: 200px;
    height: 200px;
    background-image: url(imagess/yelo.png);
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    animation: planet7orbit 19s linear infinite;
    transform-style: preserve-3d; 
}



@keyframes planet7orbit {
    from{
        transform: rotate(0) translate(620px) rotate(0);
    }
    to{
        transform: rotate(360deg) translate(620px) rotate(-360deg);
    }
}
.moon7 {
    width: 65px;
    height: 65px;
    background-image:url(imagess/magicalgirlmoon.png);
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moon7orbit 3.5s infinite;
    animation-timing-function: linear;
     transform-style: preserve-3d; 
}


@keyframes moon7orbit {
 from {
       transform: rotateY(0) translate(80px) rotateY(0);
    }
    to{
      transform: rotateY(360deg) translate(80px) rotateY(-360deg);

}
}
.magicalgirlwand{
    width: 90px;
    height: 90px;
    background-image:url(https://i.pinimg.com/originals/51/b9/fc/51b9fc18660ea65b02abb995e92491e2.gif);
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 45px;                  
}


.nyancat {
    width: 155px;
    height: 155px;
    background-image: url(imagess/cat-space-unscreen.gif);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;                  
    left: -200px;                
    animation: nyancatfly 5s linear infinite;
}

@keyframes nyancatfly {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2600px); 
    }
}

